.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        = current_user.name
      = link_to new_group_path, class: "chat-side__user--new-group" do
        %i.fa.fa-pencil-square-o
      = link_to edit_user_path(current_user), class: "chat-side__user--edit-user" do
        %i.fa.fa-cog
  .chat-side__groups
    .chat-side__groups-list
      - current_user.groups.each do |group|
        = render partial: "group", locals: { group: group }
.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name
        = @group.name
      = link_to "/groups/#{params[:id]}/edit", class: "chat-main__header--group-edit-btn" do
        edit
    .chat-main__header-members
      MEMBER:
      - @group.users.each do |member|
        %i= member.name
  .chat-main__body
    .chat-main__body--messages-list
      = render partial: 'message', collection: @messages
  .chat-main__footer
    = form_for [@group, @message], html: {id: 'new_message', class: 'chat-main__footer-form'} do |f|
      .chat-main__footer-body
        = f.text_field :message_body, class: 'message', id: 'message_body', placeholder: "type a message"
        = f.label :image, class: 'chat-file', for: "message_image" do
          = f.file_field :image, id: "message_image"
          %i.fa.fa-image
        = f.submit 'Send', class: "submit"
